div.errorMessages {
	text-align: center;
	color: red;
}
html {
	text-align: center;
	background-image: url(8RPHFpQk.png);
	background-position: center;
	font-weight: bold;
}
h4 {
	text-align: center;
}
h2 {
	color: #b80000;
}